#This Unit was modified as part of the CICD with GitHub milestone
#The purpose is to perform Continuous Deployment on an EC2 instance
#The milestone copies all GitHub files to ~/app directory, so all internal files will refer to it.

[Unit]
Description=Netflix-Movie-Catalog bind daemon v.2
Documentation=~/app/NetflixMovieCatalog/README.md
After=network.target

[Service]
WorkingDirectory=~/app/NetflixMovieCatalog/
ExecStart=bash netflix-mc-start.sh
Type=simple
Restart=always

[Install]
WantedBy=default.target